/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# 
.out
/public/
/dist/

# rspec failure tracking
.rspec_status

# others
.DS_Store
.ruby-version
Gemfile.lock
.vscode/
#*#
*~
*.bak
.env
.env.*
